@import "./animation.scss";
@import "./menupage1.scss";

@font-face {
    font-family: 'action_manregular';
    src: url('Action_Man-webfont.eot');
    src: url('Action_Man-webfont.eot?#iefix') format('embedded-opentype'),
         url('Action_Man-webfont.woff2') format('woff2'),
         url('Action_Man-webfont.woff') format('woff'),
         url('Action_Man-webfont.ttf') format('truetype'),
         url('Action_Man-webfont.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$base-font-size: 22px;
$font-color-btn: #FDCB46;
$main: #579C87;


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: BreulGroteskA-Bold, Arial, Helvetica, sans-serif;;
}

html {
    background-color: rgb(219, 219, 219);
}

body {
    font-size: $base-font-size;
    color: $font-color-btn;
    width: 100%;
    background-color: white;
    max-width: 1960px;
    margin: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4rem;
}

header {
    background-color: $main;
    text-align: center;
    height: 7rem;
    padding-top: 1px;
    letter-spacing: -3px;
        a {
            text-decoration: none;
            color: $font-color-btn;
        }
}

.bloc_menu {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.menu {
    margin: 1rem;
        img {
            width: 170px;
            max-width: 100%;
            height: auto;
            box-shadow: 2px 2px 10px rgb(201, 200, 200);
        }
}

.row1, .row2 {
    display: flex;
    justify-content: space-evenly;
}

.btn_prochainement {
    text-align: center;
    font-size: 1.2em;
    border: 1px solid $main;
    border-radius: 10px;
    background-color: $main;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 0px 5px 0px;
    width: 15rem;
}


.push {
    height: 4vh;
    background-color: white;
}

.animation {
    margin-bottom: 3rem;
}

footer {
    background-color: $main;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;  
    height: 4rem;
    width: 100%;
    max-width: 1960px;
    margin: auto;
        .btn_mentionslegales {
            padding-left: 1rem;
            padding-top: 1.2rem;
            animation: secousse1 8s 3s infinite;
        }

        .btn_contacteznous {
            padding-right: 1rem;
            padding-top: 1.2rem;
            animation: secousse2 8s 4s infinite;
            
        }   

        a {
            text-decoration: none;
            color: $font-color-btn;
        }
}


@media all and (min-width: 1200px) {
    .bloc_menu {
        display: flex;
        justify-content: space-evenly;
    }
    .menu {
      padding-left: 2rem;
      padding-right: 2rem;
        img {
            width: 600px;
            height: auto;
        }
        
    }

}