$base-font-size: 22px;
$font-color-btn: #FDCB46;
$main: #579C87;

html {
    background-color: rgb(219, 219, 219);
}

.section_menu {
    background-color:#FCDFDB;
    color: #441B20;
    margin: 3rem auto 4rem auto;
    padding: 3rem;
    width: 80%;
    max-width: 600px;
    min-height: 70%;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 2px 2px 10px rgb(201, 200, 200);
    font-family: action_manregular, BreulGroteskA-Bold, Arial, Helvetica, sans-serif;
        ul {
            list-style: none;
        }
        h1, h2, h3, h4 {
            text-align: center;
        }
        ul {
            text-align: left;
            padding: 0;
            margin-bottom: 3rem;
        }
        .fa-music {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 3rem;
            width: auto;
            color: #C06E68;
        }
        .prix {
            float: right;
           // font-size: 16px; A VOIR (agrandir)
        }
        .la_note {
            display: flex;
            justify-content: center;
            line-height: 0.5;
                .fa-music {
                    margin-left: 8px;
                    margin-right: 1rem;
                }
        }
}

.section_menu2 {
    background-color: #FFF5FE;
}

.titre_trait {
    display: flex;
    justify-content: space-between;
    line-height: 0.8;
        img {
            max-width: 10rem;
            align-self: center; 
        }
}